
  <div class="container">
    <h3 class="sub-title">Search for parking by location:</h3>


    <form {{action search formValue on="submit"}}>
      {{input class="form-input" type="text" value=formValue placeholder="Search location here"}}
    </form>

    <button class="current-location"{{action getLocation on="click"}}>Find My Location</button>
  </div>

<div class="main-content-container">
  <div class="container">
    <div class="map-row">
      <div class="map-area">
        {{#g-map lat=lat lng=lng zoom=zoom as |context|}}

          {{#g-map-marker context lat=lat lng=lng as |markerContext|}}
            {{g-map-infowindow markerContext openOn="dblclick" title="Blockless form 2"}}
          {{/g-map-marker}}

          {{#each model as |spot|}}
            {{#g-map-address-marker context address=(make-address spot) as |markerContext|}}
              {{#g-map-infowindow markerContext openOn="dblclick" }}
                <h4>{{spot.street}}, {{spot.city}} {{spot.state}}</h4>
              {{/g-map-infowindow}}
            {{/g-map-address-marker}}
          {{/each}}

        {{/g-map}}
      </div>
      <form {{action addParking model on="submit"}} class="form-area">
        <div class="location-icon">
          <i class="fa fa-map-marker" aria-hidden="true"></i>
        </div>

        <div class="form-input-container">
          <div class="input-container">
              <label class="label-name" for="">State</label>
              {{input class="form-input" type="text" name="" placeholder="Enter State" value=model.state}}
          </div>

          <div class="input-container">
              <label class="label-name" for="">City</label>
              {{input class="form-input" type="text" name="" placeholder="Enter City" value=model.city}}
          </div>

          <div class="input-container">
              <label class="label-name" for="">Street</label>
              {{input class="form-input" type="text" name="" placeholder="Enter Street" value=model.street}}
          </div>

          <button>Add new parking</button>
        </div>

        <div class="hi-top">
          <p>Let The Iron Yard.com be your guide to discount parking in Nashville. With over 30 parking garages in Nashville.</p>
        </div>

      </form>
    </div>
  </div>
</div>

<div class="footer-wrapper">
  <div class="container">
      <div class="footer-row">
        <ul class="footer-links">
          <li class="home-bottom__links">
            {{#link-to 'about'}}ABOUT{{/link-to}}
          </li>
          <li class="home-bottom__links">
            {{#link-to 'contact'}}CONTACT{{/link-to}}
          </li>
        </ul>

        <div class="footer-copyright">
          <p class="copyright">Copyright © 2016, Team A EMBER, THE IRON YARD.</p>
        </div>
      </div>
  </div>
</div>




{{outlet}}
