<div class="add-new-wrapper">
  <div class="container">
    <div class="title-container">
      <h2 class="title">Add a New Parking Spot</h2>

      <form {{action addParking model on="submit"}}>
        {{input class="add-new-input" type="text" placeholder="Street Address" value=model.street}}
        {{input class="add-new-input" type="text" placeholder="City" value=model.city}}
        {{input class="add-new-input" type="text" placeholder="State" maxlength="2" value=model.state}}
        <button class="add-new-button">Add</button>
      </form>
    </div>
  </div>
</div>

<div class="map-wrapper">
  <div class="container">
    <h3 class="sub-title">Search for parking by location:</h3>


    <form {{action search formValue on="submit"}}>
      {{input class="form-input" type="text" value=formValue placeholder="Search location here"}}
    </form>

    {{!-- <button {{action getData on="click"}}>Fetch Data</button> --}}
    <button class="current-location"{{action getLocation on="click"}}>Find My Location</button>
  </div>
</div>
