<div class="container">
  <h3>Search for parking</h3>


  <form {{action search formValue on="submit"}}>
    {{input class="form-input" type="text" value=formValue placeholder="Search location here"}}
  </form>

  {{!-- <button {{action getData on="click"}}>Fetch Data</button> --}}
  <button {{action getLocation on="click"}}>Get location</button>

  {{#g-map lat=lat lng=lng zoom=zoom as |context|}}
    {{g-map-address-marker context address=address
      onLocationChange=(action "onLocationChangeHandler")}}
    {{g-map-marker context lat=newlat lng=newlng}}

    {{#each model as |spot|}}
      {{g-map-address-marker context address=(make-address spot)}}
    {{/each}}
  {{/g-map}}
</div>
